.weBelieve{
  .left{
    padding: 130px 3% 150px 7%;
    .insider{
      //margin-left: 0;
      button{
        //position: absolute;
        //right: 0;
        height: 48px;
        padding-left: 58px;
        padding-right: 58px;
        margin-top: 30px;
      }
      .routerLink{
        position: absolute;
        bottom: 110px;
        right: 12%;
        margin-top: 40px;
        font-weight: 400;
      }
      .routerLink:hover{color: #254B77;text-decoration: none;}
    }
  }
  .right{
    padding: 130px 6% 150px 4%;
    .insider{
      //margin-left: 0;
    }
  }
}

.weCare{
  padding-top: 100px;
  padding-bottom: 100px;
  //display: flex;
  //align-items: center;
  .insider{
    display: flex;
    align-items: center;
    .leftImg{
      //display: flex;
      //align-items: center;
      //padding-left: 3%;
      img{
        width: 80%;
      }
    }
    .rightText{
      padding-left: 6%;
    }
  }
}

.weVe{
  //height: 847px;
  padding-top: 122px;
  padding-bottom: 40px;
          //display: flex;
  //align-items: center;
}
.weVeBeen{
  padding-bottom: 122px;
  .topline{
    //height: 15%;
    border-top: 1px solid #4F9BC1;
    //margin-top: 50px;
    margin: 0;
    //padding-left: 0px;
    //text-align: left;
    //background: #;
    .leftImg{
      display: flex;
      align-items: center;
      img{
        //height: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
      }
    }
    .Forbes{background: url('../../assets/webPages/about/websiteTraction/30.png') no-repeat center; background-size: 36%}
    .ASUio{background: url('../../assets/webPages/about/websiteTraction/ASUio.jpg') no-repeat center;}
    .VentureCat{background: url('../../assets/webPages/about/websiteTraction/Venturecat.png') no-repeat center; background-size: 75%}
    .Rice{background: url('../../assets/webPages/about/websiteTraction/RBPC.jpg') no-repeat center; background-size: 60%}
    .Amazon{background: url('../../assets/webPages/about/websiteTraction/AWS.png') no-repeat center; background-size: 30%}
    .Baylor{background: url('../../assets/webPages/about/websiteTraction/Baylor.png') no-repeat center; background-size: 60%}
    .Chicago{background: url('../../assets/webPages/about/websiteTraction/CSW.png') no-repeat center; background-size: 60%}
    .Alphagear{background: url('../../assets/webPages/about/websiteTraction/AlphaLab_HardwareCup.png') no-repeat center; background-size: 70%}
    .KelloggV{background: url('../../assets/webPages/about/websiteTraction/KelloggVentureChallenge.png') no-repeat center; background-size: 40%}
    .rightTxt{
      padding: 50px 0;
      a:hover{
        text-decoration: none;
        font-weight: 500;
      }
      .p1point5{margin-bottom: 0}
      .p3{
        margin-left: 0;
        margin-bottom: 0;
        text-transform: uppercase;
      }
    }
  }

  .bottomLine{
    border-bottom: 1px solid #4F9BC1;
  }
}

.meet{
  padding-top: 110px;
  padding-bottom: 0;
  .insider{
    .leftText{
      padding-left: 0;
      .p2{
        margin-left: 0;
        font-weight: 200;
      }
    }
  }
}
.meetThe{
  padding-top: 60px;
  padding-bottom: 110px;
  .insider{
    width: 100%;
    //background: #D3D3D3;
    .content{
      //.col-lg-3.col-md-6.col-sm-12{
      //  background: #3cb582;
      //}
      text-align: center;
      margin-bottom: 40px;
      .row{
        //height: 479px;
        //width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 134px;
        //background: #D3D3D3;
        .card-f-heading{
          width: 282px;
          height: 322px;
          padding: 0px 0px;
          margin: 78.5px auto 36px;
          .members{
            height: 322px;
          }
        }
        .card-f-body{
          margin-top: 0;
          p{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 13px;
          }
        }
        .rightOval{
          height: 479px;
          background: #B0E7FF;
          border-top-left-radius: 300px;
          border-bottom-left-radius: 300px;
          //display: flex;
          //align-items: center;
          .rightTxt{
            width: 80%;
            margin-left: 10%;
            margin-top: 0;
            //background: #D3D3D3;
          }
        }
        .leftOval{
          height: 479px;
          background: #B0E7FF;
          border-top-right-radius: 300px;
          border-bottom-right-radius: 300px;
          //display: flex;
          //align-items: center;
          .leftTxt{
            width: 80%;
            margin-left: 9%;
            margin-top: 0;
            //background: #D3D3D3;
          }
        }
      }
      //h4{width:240px;}
    }
  }
  button{
    width: 216px;
    height: 48px;
    //margin-top: 50px;
    margin-bottom: 67px;
    font-size: 18px;
    line-height: 20px;
  }
  button:hover{
    border: 2px solid #B0E7FF;
  }
}
.meetTheM{
  padding-top: 60px;
  padding-bottom: 110px;
  .insider{
    width: 100%;
    //background: #D3D3D3;
    .content{
      //.col-lg-3.col-md-6.col-sm-12{
      //  background: #3cb582;
      //}
      text-align: center;
      margin-bottom: 40px;
      .row{
        //height: 479px;
        //width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 134px;
        //background: #D3D3D3;
        background: #B0E7FF;
        .card-f-heading{
          width: 282px;
          height: 322px;
          padding: 0px 0px;
          margin: 78.5px auto 36px;
          .members{
            height: 322px;
          }
        }
        .card-f-body{
          margin-top: 0;
          margin-bottom: 80px;
          p{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 13px;
          }
          .bio{
            margin-top: 60px;
          }
        }
        .rightOval{
          height: //100%;
                  479px;
          //background: #B0E7FF;
          //border-top-left-radius: 300px;
          //border-bottom-left-radius: 300px;
          //display: flex;
          //align-items: center;
          .rightTxt{
            width: 80%;
            margin-left: 10%;
            margin-top: 0;
            //background: #D3D3D3;
          }
        }
        .leftOval{
          height: 479px;
          background: #B0E7FF;
          border-top-right-radius: 300px;
          border-bottom-right-radius: 300px;
          //display: flex;
          //align-items: center;
          .leftTxt{
            width: 80%;
            margin-left: 10%;
            margin-top: 0;
            //background: #D3D3D3;
          }
        }
      }
      //h4{width:240px;}
    }
  }
  button{
    width: 216px;
    height: 48px;
    //margin-top: 50px;
    margin-bottom: 67px;
    font-size: 18px;
    line-height: 20px;
  }
  button:hover{
    border: 2px solid #B0E7FF;
  }
}
