.SavingRentersMoney{
  width: 100%;
  //height: -webkit-calc(100% + 100px);
  //height:    -moz-calc(100% + 100px);
  //height: calc(100% + 100px);
  padding: 60px 0 4%;

  .innerFog{
    //position: absolute;
    //top: 4em;
    width: 100%;
    //height: 100%;
    padding: 6% 0 25%;
    //display: flex;
    //align-items: center;
    background: url("../../../assets/webPages/Landing/LandingPageHeroImage.png") right bottom no-repeat;
    background-size:
            //1200px;
            //1641px;
            75%;

    .insider{
      //background: #D3D3D3;
      //position: absolute;
      //top: 90px; ///////////////////////////////////////////////!
      width: 91.5%;
      margin-left: 8.5%;
      margin-top: auto;
      margin-bottom: auto;
      padding: 0px;

      //background: #3cb582;
      .insideInsider{
        padding: 0px;
      }
      h1{width: 95%}
      .aSustainable{
        width: 70%;
        margin-left: 0px;
        margin-top: 26px;
        margin-bottom: 50px;
        //background: #4F9BC1;
        button{
          width: 218px;
          height: 48px;
          margin-top: 45px;
          font-size: 18px;
          line-height: 20px;
        }
      }
      //.buttonImg{
      //  width: 100%;
      //  padding: 10% 0 10%;
      //  background: #faad13;
      //  .leftButton{
      //    padding: 0;
      //    background: #F2607B;
      //    button{
      //      width: 218px;
      //      height: 48px;
      //      //position: absolute;
      //      //top: 0;
      //      margin-top: 45px;
      //      font-size: 18px;
      //      line-height: 20px;
      //    }
      //  }
      //  .rightImg{
      //    padding: 0;
      //    img{
      //      width: 100%;
      //      //position: absolute;
      //      //right: 0;
      //      //bottom: -20%;
      //      //margin-bottom: calc(-25%)
      //      //-3%;
      //    }
      //  }
      //}
    }
  }
  .hero{
    width: 70%;
    position: absolute;
    right: 0;
    bottom: -20%;
    //margin-bottom: calc(-25%)
            //-3%;
  }
}

.Pioneering{
  //height: 740px;
  padding-top: 85px;
  padding-bottom: 75px;
  //display: flex;
  //align-items: center;
  .insider{
    //background: #3cb582;
    //display: flex;
    //align-items: center;
    margin-left: 0;
    .leftImg{
      padding-right: 3%;
      display: flex;
      align-items: center;
      img{
        width: 100%;
      }

      //.crop{
      //  height: 100%;
      //  width: 60%;
      //  overflow: hidden;
      //  background: #254B77;
      //  //img{clip: rect(0px, 140px, 140px, 0px);}
      //}
    }
    .rightText{
      padding-left: 3%;
      padding-top: 55px;
      padding-bottom: 55px;
      .p2{margin-left: 0px}
      button{
        //position: absolute;
        //right: 0;
        height: 48px;
        padding-left: 58px;
        padding-right: 58px;
        margin-top: 30px;
      }
      .routerLink{
        position: absolute;
        right: 0;
        margin-top: 40px;
        font-weight: 400;

        img{
          width: 24px;
          margin-top: -3px;
        }
      }
      .routerLink:hover{color: #254B77;text-decoration: none;}
    }
    .leftText{
      padding-left: 10%;
      padding-right: 5%;
      padding-top: 55px;
      padding-bottom: 55px;
      .p2{margin-left: 0px}
      button{
        //position: absolute;
        //right: 0;
        height: 48px;
        padding-left: 58px;
        padding-right: 58px;
        margin-top: 30px;
      }
      .routerLink{
        position: absolute;
        right: 0;
        margin-top: 40px;
        font-weight: 400;

        img{
          width: 24px;
          margin-top: -3px;
        }
      }
      .routerLink:hover{color: #254B77;text-decoration: none;}
    }
    .rightImg{
      padding-right: 3%;
      display: flex;
      align-items: center;
      img{
        width: 80%;
      }
    }
  }

}

.stopPaying{
  //height: 820px;
  padding-top: 110px;
  padding-bottom: 110px;
  //display: flex;
  //align-items: center;
  .insider{
    //background: #5A7184;
    .leftText{
      padding-left: 25px;
      button{
        width: 282px;
        height: 48px;
        margin-top: 50px;
        font-weight: 400;
      }
    }
    .rightImg{margin-bottom: 100px}
  }
}

.fightClimate{
  //height: 847px;
  padding-top: 122px;
  padding-bottom: 122px;
  //display: flex;
  //align-items: center;
  .leftImg{
    display: flex;
    align-items: center;

  }

}

.foodFor{
  //height: 740px;
  padding-top: 57px;
  padding-bottom: 113px;
  //display: flex;
  //align-items: center;
  .insider{
    //display: flex;
    //align-items: center;
    //margin-left: 0;
    .leftText{
      padding-left: 30px;
      padding-top: 135px;
      padding-bottom: 55px;
      .p2{margin-left: 0px}
      //.btn{
      //  position: absolute;
      //  right: 0;
      //  margin-top: 30px;
      //}
      button{
        //position: absolute;
        //right: 0;
        height: 48px;
        padding-left: 58px;
        padding-right: 58px;
        margin-top: 30px;
      }
      .routerLink{
        position: absolute;
        right: 0;
        margin-top: 40px;
        font-weight: 400;
      }
      .routerLink:hover{color: #254B77;text-decoration: none;}
    }
    .rightImg{
      display: flex;
      align-items: center;
      img{
        width: 100%;
      }
    }
  }

}
