.news{
  margin-top: 106px;
  padding-bottom: 169px;
  h2{margin-bottom: 17px}
  .topline{
    border-bottom: 1px solid #4F9BC1;
    margin-top: 58px;
    padding-bottom: 58px;
    //text-align: left;
    //background: #;
    img{width: 75%}
    p{
      a{color: #254B77}
      a:hover{color: #4F9BC1}
    }
    .circleBorder{
      border-radius: 50px;
    }
    .roundBorder{
      border-radius: 20px;
    }
  }
}












